
















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  body {
  margin: 0;
}

.navbar {
  background-color: #12180B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.logo img {
  height: 50px;
}

.menu {
  display: flex;
  gap: 80px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}



ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 30px 25px;
  color: white;
  text-decoration: none;
  text-align: center;
}




ul li ul.dropdown {
  position: absolute;
  top: 100%;
  left: 0;

  display: none;
  min-width: 200px;
  z-index: 999;
}

ul li ul.dropdown li {
  display: block;
}


ul li:hover>ul.dropdown {
  display: block;
}

ul li ul li ul {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  min-width: 200px;
  z-index: 999;
}

ul li ul li:hover>ul {
  display: block;
}

ul li ul li a {
  padding: 12px 15px;
}

.nutrientes>a {
  background-color: rgba(40, 54, 25, 0.6);
  color: white;
}

.nutrientes>a:hover {
  background-color: rgba(40, 54, 25, 0.6);

}

.nutrientes>ul {
  background-color: rgba(40, 54, 25, 0.6);
}

.nutrientes>ul li a {
  color: white;
}

.nutrientes>ul li a:hover {
  background-color: rgba(40, 54, 25, 0.2);
}





.funcoes>a {
  background-color: rgba(66, 14, 13, 0.6);
  color: white;
}

.funcoes>a:hover {
  background-color: rgba(66, 14, 13, 0.6);

}

.funcoes>ul {
  background-color: rgba(66, 14, 13, 0.6);
}

.funcoes>ul li a {
  color: white;
}

.funcoes>ul li a:hover {
  background-color: rgba(66, 14, 13, 0.2);
}






.fases>a {
  background-color: rgba(161, 207, 107, 0.6);
  color: white;
}

.fases>a:hover {
  background-color: rgba(161, 207, 107, 0.6);

}

.fases>ul {
  background-color: rgba(161, 207, 107, 0.6);
}

.fases>ul li a {
  color: white;
}

.fases>ul li a:hover {
  background-color: rgba(161, 207, 107, 0.2);
}



.extras>a {
  background-color: rgba(251, 176, 45, 0.6);
  color: white;
}

.extras>a:hover {
  background-color: rgba(251, 176, 45, 0.6);

}

.extras>ul {
  background-color: rgba(251, 176, 45, 0.6);
}

.extras>ul li a {
  color: white;
}

.extras>ul li a:hover {
  background-color: rgba(251, 176, 45, 0.2);
}


.menu>ul>li:nth-child(1)>a:hover {
  color: #A1CF6B;
}

.menu>ul>li:nth-child(2)>a:hover {
  color: #FBB02D;
}

.menu>ul>li:nth-child(3)>a:hover {
  color: #FBB02D;

}

.menu>ul>li:nth-child(4)>a:hover {
  color: #FBB02D;
}

.menu li a.ativo {
  color: #FBB02D;
}

.menu li a.ativo1 {
  color: #A1CF6B;
}




.fluxo{
  margin-top: 4rem;
  margin-bottom: 1rem;

  div {

      p{
          color: #F5F5F5;
          font-weight: bold;
          font-family: 'Lato', sans-serif;
      }
  }
}

.setaEsquerda {
  margin-left: 6rem;
}


.setaDireita {

  margin-right: 6rem;
}