body {
    background-color: #420E0D;
    background-image: url(../../assets/fundoQuizz.jpeg);

    padding: 0;
    overflow-x: hidden;
    margin: 5rem 6rem;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-classe {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    
    margin-top: -6rem;
}

.botao-sair {
    font-family: "Lato", sans-serif;
    background-color: #931f1dcc;
    color: white;
    border: none;
    padding: 0.625rem 5rem;
    border-radius: 0.5rem  ;
    font-weight: 700;
}

.botao-sair:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #931f1dcc;
    transition: transform 150ms;
    transform: translateY(-0.1rem);
}

.choice-container {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    background-color: white;
    border-radius: 0.938rem;
    padding-inline: 1rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 151, 14, 0.5);
    transition: transform 150ms;
    transform: translateY(-0.1rem);
    background-color:#FBB02D;
    color: white;

    .choice-prefix {
        background-color: #931F1D;
    }
}

.choice-prefix {
    font-family: "Lato", sans-serif;
    background-color: #FBB02D;
    color: white;
    border-radius: 100%;
    width: 3.75rem;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.choice-text {
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

.questiontext1 {
    color: white;
}

.question-number {
    color:#FBB02D;
}

.firstQuestion {
    padding-bottom: 2rem;
    width: 56.25rem;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    margin-bottom: -3rem;
}

.correct {
    background-color: greenyellow;
}

.incorrect {
    background-color: red;
}

.next-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.094rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.the-real-button {
    font-family: "Lato", sans-serif;
    background-color: transparent;
    border: 0.063rem solid #FBB02D;
    color: #FBB02D;
    padding: 0.625rem 5rem;
    border-radius: 0.5rem;
    font-weight: 700;
}

.the-real-button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 151, 14, 0.5);
    transition: transform 150ms;
    transform: translateY(-0.1rem);
    background-color: #FBB02D;
    color: white;
}

.selected {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 151, 14, 0.5);
    transition: transform 150ms;
    transform: translateY(-0.1rem);
    background-color:#FBB02D;

    .choice-prefix {
        background-color: #931F1D;
    }
}

.barra {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 0.7rem;
}

.porcentagem {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: larger;
    font-weight: 900;
}
